:root {
    --ui-dialog-color: #777777;
    --ui-dialog-text-color : #CCCCCC;

    --ui-dialog-section-color: #444444;
    --ui-dialog-section-text-color : #CCCCCC;

    --ui-dialog-supersection-color: #555555;
    --ui-dialog-supersection-text-color : #CCCCCC;

    --ui-button-color: #222277;
    --ui-button-hover-color: #444499;
    --ui-button-active-color: #6666BB;
    --ui-button-disabled-color: #222222;
    --ui-button-text-color: #CCCCCC;

    --ui-default-spacing: 1rem;
}
